
=font-face($font-name, $font-file, $weight: normal, $style: normal)
	@font-face 
		font-family: $font-name
		src: url("#{$font-path}/#{$font-file}.otf")
		font-style: $style
		font-weight: $weight
  