extends ./base.jade

block content
	section.section-hero
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Aviso de privacidad
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_contacto.jpg)")
	section.privacy
		.container
			.row
				p Aviso dirigido a los titulares de datos personales que obran en posesiones de estudiaenalberta.ca.
				p Estudia en Alberta (En lo sucesivo Estudia en Alberta) con domicilio en Av. Moctezuma 3515 7-F, Col Ciudad del Sol, en Guadalajara, Jalisco, México.
				p El presente aviso de privacidad tiene como fin primordial dar cumplimiento a lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante la "Ley").
				p.text-strong Finalidad de Tratamiento de datos
				p Estudia en Alberta solicita sus datos personales y sensibles con la finalidad de identificar personas interesadas en estudiar en Alberta, para poder, en su caso, prestarles información y noticias sobre estudiar en Alberta.
				p.text-strong Limitantes del uso de divulgación de los datos
				p Los datos obtenidos tratan a través de los medios técnicos, administrativos y digitales adecuados para proteger su información. Mantenemos los datos de nuestras personas interesadas en estudiar en Alberta por el tiempo razonable necesario, tomar en cuenta las disposiciones legales aplicables. Estudia en Alberta podrá transferir los datos personales que obren en sus bases de datos a cualesquiera de las empresas controladoras de ésta última y/o a sus empresas filiales y/o subsidiarias, salvo que los titulares respectivos manifiesten expresamente su oposición, en términos de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la Ley).
				p Nuestras personas interesadas en estudiar en Alberta tienen la confianza de que sus datos no serán usados para fines distintos a los establecidos en este Aviso de Privacidad y conforme a lo establecido en el contrato del producto y/o servicio, que en su caso contrate.
				p.text-strong Medios de ejercicio de derechos
				p Los titulares podrán ejercer los derechos de acceso, rectificación, cancelación u oposición (ARCO) que les confiere la Ley, a partir del 6 de enero de 2012, mediante una solicitud por escrito al Departamento de Protección de Datos Personales de Estudia en Alberta, oficina matriz o en el correo electrónico:&nbsp;
					a(href='mailto:ignacio.meza@gov.ab.ca') ignacio.meza@gov.ab.ca
				p Todas las solicitudes que sean presentadas a Estudia en Alberta, independiente del medio utilizado por los titulares, deberán contener:
					ul
						li El nombre y firma autógrafa del titular, así como un domicilio u otro medio para comunicarle la respuesta a su solicitud.
						li Acompañar los documentos oficiales que acrediten la identidad del titular.
						li Incluir una descripción clara y precisa de los datos personales respecto de los cuales ejercitará los derechos que les confiere la Ley.
						li Incluir cualquier elemento o documento que facilite la localización de los datos personales de que se traten.
				p.text-strong Transferencia de datos
				p Nuestras personas interesadas en estudiar en Alberta tienen la confianza de que sus datos no serán transferidos a terceras personas sin su expreso consentimiento, salvo aquellos casos señalados en el presente Aviso de Privacidad y en el contrato de prestación de servicios que en su caso se formalice o en caso de que la persona interesada en estudiar en Alberta contrate otro producto y/o servicio a través de cualquiera de las instituciones de educación de Alberta y los supuestos establecidos en el articulo 37 de la Ley.
				p.text-strong Comunicación
				p Estudia en Alberta se reserva el derecho de cambiar, modificar, completamente y/o alterar el presente aviso, en cualquier momento, en cuyo caso se hará de su conocimiento a través de cualquiera de los medios que establece la legislación en la materia.