extends ./base.jade

block content
	section.section-hero
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Aviso de privacidad
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_contacto.jpg)")
	section.privacy
		.container
			.row
				p Aviso dirigido a los titulares de datos personales que obran en posesiones de Alberta.
				p El presente aviso de privacidad tiene como fin primordial dar cumplimiento a lo establecido por la Ley Federal de Proteccion de Datos Personales en Posesión de los Particulares (en adelante la "Ley").
				p.text-strong Finalidad de Tratamiento de datos
				p Alberta solicita sus datos personales y sensibles con la finalidad de identificar Clientes, para poder, en su caso, celebrar contrato de pestación de servicios profesinales.
				p.text-strong Limitantes del uso de divulgación de los datos
				p  Los datos ostenidos tratan a trvés de los medios técnicos, administrativos y digitales adecuados para proteger su informacion. Mantenemos los datos de nuestros clientes por el tiempo razonable necesario, tomar en cuenta las disposiciones legales aplicables. Alberta podrá transferir los datos personales que obren en sus bases de datos a cualesquiera de las empresass controladoras de ésta última y/o a sus empresas filiales y/o subsidiarias, salvo que los titulares respectivos manifiesten expresamente su oposición, en términos de lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (la Ley).
				p Nuestros clientes tienen la confianza de que sus datos no serán usados para fines distintos a los establecidos en este Aviso de Privacidad y conforme a lo establecido en el contrato del producto y/o servicio, que en su caso contrate.
				p.text-strong Medios de ejercicio de derechos
				p  Los titulares podrán ejercer los derechos de acceso, rectificación, cancelación u oposición (ARCO) que les confiere la Ley, a partir del 6 de ener de 2012, mediante una solicitud por escrito al Departamento de Proteción de Datos Personales de Alberta, oficina matriz o en el correo electrónico: ignacio.meza@gov.ab.ca
				p Todas las solicitudes que sean presentadas a Alberta, independiente del medio utilizado por los titulares, deberán contener:
					ul
						li El nombre y firma autografa del titular, asi como un domicilio u otro medio para comunicarle la respuesta a su solicitud.
						li Acompañar los documentos oficiales que acrediten la identidad del titular.
						li Incluir una descripción clara y preisa de los datos personales respecto de los cuales ejercitará los derechos que les confiere la Ley.
						li Incluir cualquier elemento o documento que facilite la localización de los datos personales de que se traten.
				p.text-strong Transferencia de datos
				p Nuestros Clientes tienen la confianza de que sus datos no serán transferidos a terceras personas sin su expreso consentimiento, salvo aquellos casos señalados en el presente Aviso de Privacidad y en el contrato de prestación de servicios que en su caso se formalice o en caso de que el cliente contrate otro producto y/o servicio a través de Alberta y los supuestos establecidos en el articulo 37 de la Ley.
				p.text-strong Comunicación
				p Alberta se reserva el derecho de cambiar, modificar, completamente y/o alterar el presente aviso, en cualquier momento, en cuyo caso se hará de su conocimiento a través de cualquiera de los medios que establece la legislación en la materia.	