doctype html
html(lang="es")
	head
		title Alberta
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
		link(rel="stylesheet", href="css/vendor/jquery.fancybox.css")
		link(rel="stylesheet", href="css/general.css")		
		script(src="js/vendor/modernizr.js")
	body
		block content