doctype html
html(lang="es")
	head
		title Alberta
		meta(charset='utf-8')
		meta(name='description', content='Oficina del gobierno de Alberta, Canadá, que brinda información y contactos para estudiar en nuestras instituciones de educación en Alberta.')
		meta(name='keywords', content='canada, estudios en canada, quiero ir a canada, ir a estudiar a canada, ir a canada, canada estudiar ingles, canada universidades, canada estudios, canada universidad, Alberta, estudia en Alberta, Alberta estudios, estudiar en el extranjero, estudios en el extranjero, estudios superiores en Canada, estudios superiores en Alberta, innovación en Canada, tecnologia en Canada, relación entre Mexico y Canada')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
		link(href="imgs/favicon.ico", rel="shortcut icon")
		link(rel="stylesheet", href="css/general.css")		
		script(src="js/modernizr.js")
		block scripts
	body
		.general-wrapper
			include ./partials/header.jade
			.secondarycontainer
			main.content
				block content
			include ./partials/footer.jade
		script(src="js/vendor/all.js")
		script(src="js/general.js")