extends ./base.jade

block content
	section.section-hero.section-confirmation
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Confirma tu asistencia
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_confirmacion.jpg)")
			.row
				.date
					h4
	section.section-briefings.section-session
		.container
			.row
				article.session
					p.title-session
					p.date-session
						br
						span
	section.full-width-ligh-gray
		.container
			.row.message
				img(src='imgs/icons/success_form_icono.png', alt= 'Confirmación' height=70)
				h3 Tu confirmación ha sido realizada con éxito.
				p Recibirás un link en tu correo para que asistas a la sesión informativa en línea.
				a.button.button-blue(href="index.html#briefings") Volver al inicio	