extends ./base.jade

block content
	section.section-hero.section-confirmation
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Gracias por contactarnos
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_confirmacion.jpg)")
	section.full-width-ligh-gray
		.container
			.row.message
				img(src='imgs/icons/success_form_icono.png', alt= 'Confirmación' height=70)
				h3 Sus datos se  han enviado correctamente.
				p Gracias por ponerte en contacto con nostros.
				a.button.button-blue(href="index.html") Volver al inicio	