extends ./base.jade

block content
	section.section-hero.section-confirmation
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Gracias por contactarnos
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_confirmacion.jpg)")
	section.full-width-ligh-gray
		.container
			.row.message.error
				img(src='imgs/icons/error_form_icono.png', alt= 'Error' height=70)
				h3 Parece que hubo un error en el envio.
				p Inténtalo nuevamente, si el problema persiste inténtalo más tarde.
				a.button.button-blue(href="contactanos.html") Reintentar	