extends ./base.jade

block content
	section.section-hero
		.filled
			.fullsize-filter
			header
				.container
					h1 Estudia en Alberta
					p.content-480-up Jóvenes de todo el mundo deciden estudiar en Alberta por su espectacular belleza natural, medio ambiente agradable, diversidad cultural, comunidades alegres y un sólido sistema de educación superior e innovación.
			.fullsize-video
				img(src='imgs/hero_home.jpg') 
				video(loop)
					source(src='videos/AlbertaHOME.mp4', type='video/mp4')
					source(src='videos/AlbertaHOME.webm', type='video/webm')
			.fullsize-image.filled
				div(style="background-image: url(imgs/hero_home.jpg)")
		.container.content-480-down
			p Jóvenes de todo el mundo deciden estudiar en Alberta por su espectacular belleza natural, medio ambiente agradable, diversidad cultural, comunidades alegres y un sólido sistema de educación superior e innovación.
	section#why-alberta.why-alberta
		.container
			h2 ¿Por qué Alberta?
			#slider.owl-carousel.owl-theme
				article.item
					figure
						img(src='imgs/porque0.jpg', alt='Fondos para investigación', height="250" width="250")
					h3 Fondo para investigación
				article.item
					figure
						img(src='imgs/porque0x.jpg', alt='Provincia más soleada', height="250" width="250")
					h3 Provincia más soleada
				article.item
					figure
						img(src='imgs/porque1.jpg', alt='Abundancia de recursos', height="250" width="250")
					h3 Abundancia de recursos
				article.item
					figure
						img(src='imgs/porque2.jpg', alt='No impuestos provinciales', height="250" width="250")
					h3 No impuestos	provinciales
				article.item
					figure
						img(src='imgs/porque3.jpg', alt= 'Mejores ingresos', height="250" width="250")
					h3 Mejores ingresos
				article.item
					figure
						img(src='imgs/porque4.jpg', alt='Investigación de vanguardia', height="250" width="250")
					h3 Investigación de vanguardia
				article.item
					figure
						img(src='imgs/porque5.jpg', alt='Excelente atención médica', height="250" width="250")
					h3 Excelente atención médica
				article.item
					figure
						img(src='imgs/porque6.jpg', alt= 'Comunidades receptivas', height="250" width="250")
					h3 Comunidades receptivas
				article.item
					figure
						img(src='imgs/porque8.jpg', alt='Innovación y talento', height="250" width="250")
					h3 Innovación y talento
				article.item
					figure
						img(src='imgs/porque9.jpg', alt= 'Educación de clase mundial', height="250" width="250")
					h3 Educación de clase mundial
	section.full-width-blue.section-working-studying
		.container
			.row-flex
				article.col-6.working-studying
					h2 Trabaja mientras estudias y quédate cuanto te gradués
					p Como un estudiante internacional inscrito tiempo completo en un programa de estudios superiores, puedes trabajar hasta 20 horas por semana durante tu periodo de clases y tiempo completo durante tu periodo de vacaciones. Además podrías tener la oportunidad de realizar prácticas profesionales. 
					p Cuando te gradúes de una institución de educación superior, puedes quedarte a trabajar tiempo completo y  podrías solicitar la residencia permanente en Canadá.
				figure.col-6 
					img(src='imgs/trabajayestudia.jpg', alt= 'Trabaja mientras estudias')
	section.academic-offerings.full-width-ligh-gray
		include ./partials/_academic-offerings.jade
	section.section-studies.border-bottom-grey
		.container
			h2.title-small-down Estudios de inglés en Alberta
			.row-flex
				article.col-6.studies
					h2.title-small-up Estudios de inglés en Alberta
					p La mayoría de las instituciones de educación superior en Alberta ofrecen programas de inglés que ayudan a mejorar las habilidades y dominio del idioma.
					a.text-underline(href='preguntas-frecuentes.html') más información
						span &nbsp;&gt;
				figure.col-6
					img(src='imgs/estudios-ingles.jpg', alt= 'Estudios de inglés en Alberta')
	section.section-studies
		.container
			h2.title-small-down Primaria, secundaria y preparatoria en Alberta
			.row-flex
				figure.col-6
					img(src='imgs/primariaysecundaria.jpg', alt= 'Primaria, secundaria y preparatoria en Alberta')
				article.col-6.studies
					h2.title-small-up Primaria, secundaria y preparatoria en Alberta
					p Si eres menor de 18 años y te interesa cursar un idioma, un verano, un semestre o un año académico; puedes estudiar en nuestros distritos escolares.
					a.text-underline(href='preguntas-frecuentes.html') más información
						span &nbsp;&gt;
	section#briefings.full-width-blue.section-briefings
		.container
			header.row
				h2 Sesiones informativas
				p Atiende a una sesión informativa sobre la oportunidad de estudiar en Alberta
			.row-flex
				h2.no-briefings Por el momento no hay sesiones informativas
				p.no-briefings
					a#session-interested(href='#do-contact') Ponte en contacto con nosotros
					|  para recibir información de las sesiones informativas
					
				article.col-6
					h4
					p.title-session
					p.date-session
					span
					form(action="asistencia.html", method="get")
						input(type='hidden', name='session', value='')
						input(type='hidden', name='date-time', value='')
						input.button.button-blue(type='submit', value='Confirmar asistencia')
				article.col-6
					h4
					p.title-session
					p.date-session
					span
					form(action="asistencia.html", method="get")
						input(type='hidden', name='session', value='')
						input(type='hidden', name='date-time', value='')
						input.button.button-blue(type='submit', value='Confirmar asistencia')
	section.known-experience
		.container
			header.row
				h2 Conoce la experiencia
			.row-flex
				article.col-6
					.block-video
						.background-video
							img(src='imgs/testimonio01.png', alt= 'Video 1') 
						.button-video
							a.fancybox-video(class='fancybox.iframe', href="https://www.youtube.com/embed/kQtfb8nbTOg?autoplay=1&rel=0")
								span.play-button
					p Testimonio de Cristopher cuando se fue a Campus Alberta
				article.col-6
					.block-video
						.background-video
							img(src='imgs/testimonio02.png', alt= 'Video 2')  
						.button-video
							a.fancybox-video(class='fancybox.iframe', href="https://www.youtube.com/embed/YO3bp5k-wBc?autoplay=1&rel=0")
								span.play-button
					p Testimonio de Cristopher cuando regresó de Campus Alberta
	section.full-width-ligh-gray.border-top-grey
		.container
			header.row
				a(name='do-contact')
					h2 ¿En qué podemos ayudarte?
			include ./partials/contact-form.jade