doctype html
html(lang="es")
	head
		link(rel="stylesheet", href="css/general.css")
		script(src="js/modernizr.js")
		block scripts
	body
		
		script(src="js/vendor/all.js")
		script(src="js/general.js")

		section.section-studies.lighbox
			.container.background-white
				.row-flex
					figure.col-6
						img(src='imgs/Logobonito.jpg', alt= 'Sesiones interactivas en Alberta', class="img-responsive")
					article.col-6.studies
						h2.title-small-up ¡ACOMPÁÑANOS!
						h6 Feria de estudios
						h3 MacEwan Day
						p Sábado 11 de Noviembre <br> 10:00 AM - 6:00 PM<br>Hotel NH Collection Guadalajara Providencia (São Paulo 2334)
						a.button.button-blue.redirect.closeBtn Mas información
