extends ./base.jade

extends ./base.jade

block content
	section.section-hero.section-hero-faqs
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Preguntas frecuentes
					p.content-480-up Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
			.fullsize-image.semi-filled
				div(style="background-image: url(../imgs/hero_faq.jpg)")
		.container.content-480-down
			p  Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
	section.section-faqs
		.container.tabs-wrapper
			.row
				article.tabs.row-flex
					aside
							nav
								ul
									li
										a(href="#tab-faq1") Sobre Alberta
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq2") Becas
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq3") Estudios superiores
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq4") Inglés + 18 años
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq5") Inglés - 18 años
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq6") Secundaria y prepa
											i.fa.fa-chevron-right.fa-lg
							p Si necisitas más información&nbsp;
								a(href='javascript:void(0)') contáctanos
								| , con gusto atenderemos tus dudas.
					main
							#tab-faq1.tab-faq
								.faq-wrapper
									h5 ¿Qué es Estudia en Alberta y qué servicios ofrece el Centro de Educación de Alberta?
									.answer
										p Estudia en Alberta es el sitio web del Centro de Educación de Alberta, es una oficina de educación del gobierno de la provincia de Alberta Canadá, donde brindamos información y contactos para estudiar en nuestras instituciones de educación del Gobierno de Alberta. En el Centro de Educación de Alberta te proporcionamos información general y canalizamos tus inquietudes con las instancias correspondientes. En el Centro de Educación de Alberta no atendemos dudas específicas de los programas, información de costos, solicitudes, visas; puesto que somos únicamente un centro facilitador de información. Para que obtengas mayor información, te canalizamos con las instituciones de Alberta directamente o con su agente en México, que ya cuenta con experiencia en el proceso de apoyarte para solicitar admisión completando la solicitud de inscripción, para lograr que te acepten y luego solicitar tu permiso de estudios. Además, en el Centro de Educación de Alberta nos encargamos de todos los asuntos relacionados con el sector educación entre la provincia de Alberta y todo México.
								.faq-wrapper
									h5 ¿Cuáles son las principales ventajas de Alberta?
									.answer
										p Alberta tiene una gran abundancia de recursos, agua dulce, la reserva petrolera más grande de Norteamérica y una de las 3 más grandes del mundo; así como también de gas natural.
										p En Alberta se encuentran los parques nacionales más grandes de Canadá y las montañas rocosas, unos de los escenarios naturales más majestuosos que existen en el mundo.
										p En Alberta no pagas impuestos provinciales, obteniendo ahorros diarios en todos los gastos que incurras durante tu estadía en la provincia de Alberta.
										p Alberta goza de los días más soleados en el año y más largos durante el verano.
										p Alberta tiene uno de los mejores sistemas de salud del mundo.
										p Los habitantes de Alberta gozan de los mejores ingresos (sueldos).
										p Existen vuelos directos con la aerolínea de Alberta (Westjet) desde los principales destinos turísticos de México a las principales ciudades de Alberta (Edmonton y Calgary). 
										p Alberta cuenta con una moderna infraestructura en sus ciudades. La capital, Edmonton es de las ciudades más verdes del mundo y Calgary es de las más dinámicas; ambas con una población aproximada de un millón de habitantes, ciudades limpias y seguras. 
										p Gracias a todas estas ventajas y muchas más, Alberta cuenta con una de las mejores calidades de vida del mundo.
								.faq-wrapper
									h5 ¿Qué puedo estudiar en Alberta? 
									.answer
										p Existen una gran variedad de opciones que van desde idioma Inglés, cursos de verano, secundaria o preparatoria (semestre o año), estudios superiores (programas de un año, dos años, tres años o cuatro años) y posgrados (maestría y doctorado). Todos estos programas de estudio son ofrecidos por nuestras instituciones del Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Cómo es el clima en Alberta? 
									.answer
										p Con las cuatro estaciones, soleado y seco. Con la ventaja de que cuando baja la temperatura no te cala los huesos el frio porque no es húmedo. Alberta goza de los días más soleados en el año y más largos durante el verano.
								.faq-wrapper
									h5 ¿Cuál es la principal ventaja de Alberta con respecto a las otras provincias?
									.answer
										p En Alberta no pagas impuestos provinciales, obteniendo ahorros diarios en todos los gastos que incurras durante tu estadía en la provincia de Alberta.
								.faq-wrapper
									h5 ¿Por qué Alberta existe una mejor calidad de vida en Alberta?
									.answer 
										p Alberta tiene una gran abundancia de recursos, agua dulce, la reserva petrolera más grande de Norteamérica y una de las 3 más grandes del mundo; así como también de gas natural. En Alberta se encuentran los parques nacionales más grandes de Canadá y las montañas rocosas, unos de los escenarios naturales más majestuosos que existen en el mundo. Alberta tiene uno de los mejores sistemas de salud del mundo. Los habitantes de Alberta gozan de los mejores ingresos (sueldos).
								.faq-wrapper
									h5 ¿Cuántos habitantes tiene Alberta?
									.answer
										p Alrededor de tres millones de habitantes, distribuidos un millón en las ciudades pequeñas en conjunto, alrededor de otro millón en la capital Edmonton y alrededor de otro millón en la ciudad de negocios Calgary. Todas las ciudades de la provincia son limpias y seguras.
								.faq-wrapper
									h5 ¿Hay vuelos directos desde México a la provincia de Alberta?
									.answer
										p Con la aerolínea de Alberta (Westjet) existen vuelos directos desde los principales destinos turísticos de México a las principales ciudades de Alberta (Edmonton y Calgary).
								.faq-wrapper
									h5 ¿Necesito tener un seguro de gastos médicos mayores para viajar a Alberta?
									.answer
										p Sí se recomienda contratarlo desde México, una vez que estés en Alberta siendo estudiante de tiempo completo, puedes buscar sustituirlo por el que ofrece la provincia de Alberta a sus habitantes.
								.faq-wrapper
									h5 ¿Qué tipo de visa requiero para viajar a Alberta?
									.answer
										p La misma que para viajar a Canadá.
							#tab-faq2.tab-faq
								.faq-wrapper
									h5 ¿Existen becas para estudiar en Alberta?
									.answer
										p Por lo general existen muy pocas becas. Dependiendo del programa de estudios, podría haber algún tipo de apoyo, visita el sitio web de la institución de Alberta donde te interesa estudiar. En su mayoría las becas que se ofrecen son para posgrados en ciencia y tecnología con el CONACYT. No se ofrecen becas para cursos de inglés.
								.faq-wrapper
									h5 ¿El gobierno Mexicano ofrece becas o financiamiento?
									.answer
										p Dependiendo del programa de estudios, podría haber algún tipo de beca, visita el sitio web AMEXCID y para posible financiamiento visita el sitio web de FIDERH.
								.faq-wrapper
									h5 ¿Cuáles son los pasos para solicitar una beca?
									.answer
										p Dependiendo la beca, generalmente primero tienes que ser aceptado al programa de estudios y después procedes a solicitar beca o financiamiento.
								.faq-wrapper
									h5 ¿Debo saber inglés para pedir una beca?
									.answer
										p Puesto que la mayoría de programas de estudio son instruidos en idioma inglés, es un requisito saber inglés y comprobarlo por medio de un examen oficial de inglés.
								.faq-wrapper
									h5 ¿Si estoy estudiando en México mis estudios superiores, existen becas de intercambio o para prácticas profesionales?
									.answer
										p Sí existen, para intercambio el programa de becas se llama ELAP y para prácticas profesionales el programa se llama Mitacs Globalink. Ambos programas aplican restricciones visita&nbsp;
											a(href="http://studyinalberta.ca", target='_blank') scholarships.gc.ca
								.faq-wrapper
									h5 ¿Dónde encuentro más información sobre becas?
									.answer
										p
											a(href="http://studyinalberta.ca/post-secondary/scholarships", target='_blank') studyinalberta.ca/post-secondary/scholarships	
							#tab-faq3.tab-faq
								.faq-wrapper
									h5 ¿Qué tipo de estudios superiores puedo cursar en Alberta? 
									.answer
										p Certificate (consta de 1 año de estudio aplicado para emplearse en ocupaciones específicas). Diploma (consta de 2 años de estudio aplicado para emplearse en áreas particulares). Applied Degree (consta de 3 años de estudio aplicado con práctica laboral en la industria). Bachelor’s Degree (consta de 4 años con enfoque académico dirigido al aprendizaje teórico). Master´s Degree (consta de 2 años de estudios después de 4 años de estudios superiores previos). Doctoral Degree (consta de 2-3 años de estudios después de la maestría).
								.faq-wrapper
									h5 ¿Quién crea los programas de estudios superiores que se ofrecen en las instituciones de Alberta?
									.answer
										p En Alberta, el gobierno, la academia y la industria trabajan juntos para crear los programas de educación superior ofrecidos en Campus Alberta; que están aprobados por el Ministerio de Innovación y Educación Avanzada, cerciorándose que estén alineados con la sociedad y tengan una alta empleabilidad. Alberta está comprometida con la calidad y el consejo de calidad de Campus Alberta (Campus Alberta Quelite Council) se asegura avalando cada programa ofrecido por cada una de las instituciones de Campus Alberta.
								.faq-wrapper
									h5 ¿Qué es Campus Alberta?
									.answer
										p Se le llama “Campus Alberta” al sistema de educación superior en Alberta, conformado por 26 instituciones, todas fondeadas por el Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Debo saber inglés para cursar estudios superiores en Alberta?
									.answer
										p Puesto que la mayoría de programas de estudio son instruidos en idioma inglés, es un requisito saber inglés y comprobarlo por medio de un examen oficial de inglés. Si no cumples con ese requisito, podrías tomar el inglés en nuestras mismas instituciones de Alberta.
								.faq-wrapper
									h5 ¿Cuáles son los pasos para realizar estudios superiores en Alberta?
									.answer
										ol
											li Comienza revisando exhaustivamente nuestro sitio&nbsp;
												a(href="http://studyinalberta.ca/post-secondary", target='_blank') studyinalberta.ca/post-secondary
											li Buscador de programas de estudios con una palabra clave&nbsp;
												a(href="http://alis.ca/edinfo", target='_blank') alis.ca/edinfo
											li Una vez que hayas encontrado los programas de tu interés, contáctalos por su sitio web y solicita admisión completando una solicitud de inscripción.
											li Contáctanos en caso de que te interese recibir apoyo para solicitar admisión.
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en Alberta? 
									.answer
										p Dependiendo la institución de educación superior de tu interés, son tus opciones de hospedaje y el proceso de solicitar hospedaje se inicia regularmente junto con el proceso de solicitar admisión.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos seis meses antes. Dependiendo el programa de estudios, algunos reciben solicitudes de admisión desde al menos un año antes. Mientras con más tiempo de anticipación lo hagas, mayores serán las posibilidades de ser aceptado.
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir.
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación?
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc.
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa.
								.faq-wrapper
									h5 ¿Puedo trabajar mientras estoy cursando mis estudios superiores?
									.answer
										p Como un estudiante internacional inscrito tiempo completo en un programa de estudios superiores, estás automáticamente autorizado a trabajar hasta 20 horas por semana durante tu periodo de clases y tiemplo completo en vacaciones. Dependiendo el programa que estudies, podrías tener la oportunidad de realizar prácticas profesionales.
								.faq-wrapper
									h5 ¿Puedo quedarme a trabajar cuando me gradúe de mi programa de estudios superiores?
									.answer
										p Cuando te gradúes de una institución de educación superior en Alberta, eres elegible para quedarte a trabajar en Alberta tiempo completo hasta por tres años, durante los cuales podrías solicitar la residencia permanente en Canadá.
								.faq-wrapper
									h5 ¿Existen becas para cursar estudios superiores en Alberta?
									.answer
										p Por lo general existen muy pocas becas para estudios superiores. Dependiendo del programa de estudios, podría haber algún tipo de apoyo, visita el sitio web de la institución de Alberta donde te interesa estudiar. En su mayoría las becas que se ofrecen son para posgrados en ciencia y tecnología con el CONACYT.
								.faq-wrapper
									h5 ¿Puedo estudiar medicina o especializarme en áreas de la salud en Alberta?
									.answer
										p Existen algunos programas en área de la saludo, como medicina o especialidad, donde prácticamente no existen lugares para estudiantes internacionales porque están muy demandados por los mismos residentes y ciudadanos canadienses. Algunos ejemplos de programas abiertos para estudiantes internacionales: Health Care Aid, Nursing o Paramedic. Te recomendamos iinvestigar tus opciones de los programas que estén abiertos para estudiantes internacionales. Una vez que te gradúes de alguno de estos programas, quédate a trabajar y ya siendo residente canadiense podrías tener mayores probabilidades de ser aceptado para estudiar medicina y después especialidad.
								.faq-wrapper
									h5 ¿Cuáles son las principales diferencias entre Diploma y Maestría? 
									.answer
										p Para solicitar admisión a un Diploma requieres tener la preparatoria terminada y no requieres hacer un examen de admisión. Para solicitar admisión a una Maestría requieres estar titulado (4 años completados de estudios superiores) y generalmente requieres hacer un examen de admisión.
								.faq-wrapper
									h5 Si tengo pensado hacer estudios superiores en Alberta y luego regresar a México ¿podría acreditar mis estudios o ser empleado por una empresa en México?
									.answer
										p Los estudios que realices en Alberta pueden ser acreditados en las instituciones de educación superior en México e inclusive las empresas pueden emplearte reconociendo tus estudios. Digamos que egresaste de un Diploma en Alberta, puedes acreditarlo en México como parte de tu educación superior.
								.faq-wrapper
									h5 ¿Si estoy estudiando mi carrera en México, puedo irme de intercambio a Alberta?
									.answer
										p Puedes irte como estudiante de intercambio siempre y cuando exista un convenio firmado entre tu institución de educación superior en México y la institución de educación superior en Alberta. Te recomendamos contactar la oficina encargada de los intercambios dentro de tu escuela. Ahora, si tu institución piensa mandarte como estudiante de intercambio, existe un apoyo llamado ELAP y la convocatoria para solicitar el apoyo ELAP se publica cada año, también puedes investigar al respecto.
								.faq-wrapper
									h5 ¿Si estoy estudiando mi carrera en México, puedo irme a realizar mis prácticas profesionales a Alberta?
									.answer
										p Por lo general las prácticas profesionales se pueden realizar estando inscrito en un programa de estudios superiores en Alberta. Fuera de esto podrías irte a realizar una práctica profesional siempre y cuando existe un convenio firmado entre tu institución de educación superior en México y la institución de educación superior en Alberta. Te recomendamos contactar la oficina encargada de los intercambios dentro de tu escuela. Ahora, existe un programa llamado Mitacs Globalink para realizar estancias de investigación en Canadá, también puedes investigar al respecto.
								.faq-wrapper
									h5 ¿Puedo acreditarme como profesionista en Alberta sólo con los estudios que tengo en México?
									.answer
										p Es mejor que realices estudios superiores y te gradúes en Alberta. Si aun así buscas que tus credenciales mexicanas sean reconocidas en Alberta visita work.alberta.ca/immigration.html y cualquier otra información sobre inmigración a Canadá visita&nbsp;
											a(href="http://cic.gc.ca", target='_blank') cic.gc.ca 							
							#tab-faq4.tab-faq
								.faq-wrapper
									h5 ¿Cuál es la principal ventaja de estudiar inglés en Alberta?
									.answer
										p El programa de inglés (ESL) lo tomas dentro de nuestras instituciones de Campus Alberta. Esto quiere decir que una vez que domines el inglés, puedes solicitar admisión para continuar con estudios superiores dentro de nuestras mismas instituciones del Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Qué es Campus Alberta?
									.answer
										p Se le llama "Campus Alberta" al sistema de educación superior en Alberta, conformado por 26 instituciones, todas fondeadas por el Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Debo saber inglés antes de irme a estudiar a Alberta?
									.answer
										p Es una gran ventaja que al menos entiendas lo más básico antes de irte a estudiar a Alberta.
								.faq-wrapper
									h5 ¿Debo hacer un examen de inglés en México antes de irme a estudiar inglés a Alberta? 
									.answer
										p Generalmente no es necesario, ya que te aplican el examen de inglés hasta llegar a la institución de Alberta.
								.faq-wrapper
									h5 ¿Qué tipo de estudios de inglés puedo cursar en Alberta?
									.answer
										p La mayoría de estudios de inglés en Alberta están enfocados en lo académico, para que logres el nivel de inglés requerido para entrar a un programa de estudios superiores. La mayoría de las instituciones de educación superior en Alberta ofrecen programas de inglés que ayudan a mejorar tus habilidades y dominio del idioma. También existen programas de inglés en áreas específicas.
								.faq-wrapper
									h5 ¿Cuáles son los pasos para estudiar inglés en una institución de Campus Alberta?
									.answer
										p
											ol
												li Comienza revisando exhaustivamente nuestro sitio&nbsp;
													a(href="http://studyinalberta.ca/post-secondary/esl", target='_blank') studyinalberta.ca/post-secondary/esl
												li Una vez que hayas encontrado los programas de tu interés, contáctalos por su sitio web y solicita admisión completando una solicitud de inscripción.
												li Contáctanos en caso de que te interese recibir apoyo para solicitar admisión.	 
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en Alberta?
									.answer
										p Dependiendo la institución de educación superior de tu interés, son tus opciones de hospedaje y el proceso de solicitar hospedaje se inicia regularmente junto con el proceso de solicitar admisión.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos tres meses antes. Dependiendo el programa de estudios, algunos reciben solicitudes de admisión desde al seis meses antes. Mientras con más tiempo de anticipación lo hagas, mayores serán las posibilidades de ser aceptado.
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir.
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación?
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc.
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa.
								.faq-wrapper
									h5 ¿Puedo trabajar mientras estoy cursando mis estudios de inglés?
									.answer
										p No está permitido trabajar como un estudiante internacional inscrito a un programa de inglés, ni tampoco quedarte a trabajar cuando termines tu curso de inglés. Sólo se permite trabajar como un estudiante internacional inscrito tiempo completo en un programa de estudios superiores, estás automáticamente autorizado a trabajar hasta 20 horas por semana durante tu periodo de clases y tiemplo completo en vacaciones. Dependiendo el programa que estudies, podrías tener la oportunidad de realizar prácticas profesionales.
								.faq-wrapper
									h5 ¿Existen becas para estudiar inglés en Alberta?
									.answer
										p No se ofrecen becas para cursos de inglés.				
							#tab-faq5.tab-faq 
								.faq-wrapper
									h5 ¿Cuál es la principal ventaja de estudiar inglés en Alberta?
									.answer
										p El programa de inglés (ESL) lo tomas dentro de nuestros distritos escolares en Alberta. Esto quiere decir que una vez que domines el inglés, puedes continuar con más estudios como secundaria o preparatoria, dentro de nuestras mismas instituciones del Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Qué son los distritos escolares de Alberta? 
									.answer
										p Se les llama "distritos escolares" a los diversos grupos de escuelas que comprenden desde Kindergarten hasta Preparatoria en la provincia de Alberta, todos fondeados por el Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Debo saber inglés antes de irme a estudiar a Alberta?
									.answer
										p Es una gran ventaja que al menos entiendas lo más básico antes de irte a estudiar a Alberta.
								.faq-wrapper
									h5 ¿Debo hacer un examen de inglés en México antes de irme a estudiar inglés a Alberta?
									.answer
										p Generalmente no es necesario, ya que te aplican el examen de inglés hasta llegar a la institución de Alberta.
								.faq-wrapper
									h5 ¿Qué tipo de estudios de inglés puedo cursar en Alberta? 
									.answer
										p La mayoría de estudios de inglés en Alberta están enfocados en lo académico, para que logres el nivel de inglés requerido para continuar con tus estudios de secundaria, preparatoria o ingresar a programa de estudios superiores. Un buen número de distritos escolares en Alberta ofrecen programas de inglés que ayudan a mejorar tus habilidades y dominio del idioma.
								.faq-wrapper
									h5 ¿Cuáles son los pasos para estudiar inglés en un distrito escolar de Alberta?
									.answer
										p
											ol
												li Comienza revisando exhaustivamente nuestro sitio&nbsp;
													a(href="http://studyinalberta.ca/primary-and-secondary", target='_blank') studyinalberta.ca/primary-and-secondary
												li Una vez que hayas encontrado los distritos escolares de tu interés, contáctalos por su sitio web y solicita admisión completando una solicitud de inscripción.
												li Contáctanos en caso de que te interese recibir apoyo para solicitar admisión.
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en Alberta? 
									.answer
										p Dependiendo la institución de tu interés, solicitas al mismo tiempo hospedaje con una familia anfitriona y el proceso de solicitar hospedaje se inicia regularmente junto con el proceso de solicitar admisión.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión?
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos tres meses antes. Dependiendo el programa de estudios, algunos reciben solicitudes de admisión desde al menos un año antes. Mientras con más tiempo de anticipación lo hagas, mayores serán las posibilidades de ser aceptado.
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir.
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación? 
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc.
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa.
								.faq-wrapper
									h5 ¿Siendo menor de edad, puedo trabajar mientras estoy cursando mis estudios de inglés?
									.answer
										p No está permitido trabajar siendo menor de edad y menos como un estudiante internacional inscrito a un programa de inglés, ni tampoco quedarte a trabajar cuando termines tu curso de inglés. Sólo se permite trabajar como un estudiante mayor de edad inscrito tiempo completo en un programa de estudios superiores, estás automáticamente autorizado a trabajar hasta 20 horas por semana durante tu periodo de clases y tiemplo completo en vacaciones. Dependiendo el programa que estudies, podrías tener la oportunidad de realizar prácticas profesionales.
								.faq-wrapper
									h5 ¿Podría quedarme a terminar mi secundaria o preparatoria en Alberta?
									.answer
										p Sí puedes quedarte a terminar la secundaria o preparatoria en Alberta. 
								.faq-wrapper
									h5 ¿Existen becas para estudiar inglés en Alberta?
									.answer
										p No se ofrecen becas para cursos de inglés.						
							#tab-faq6.tab-faq
								.faq-wrapper
									h5 ¿Qué tipo de estudios de secundaria o preparatoria puedo cursar en Alberta?
									.answer
										p
											ul
												li Un verano (desde 2 ó 3 semanas).
												li Un semestre Académico de secundaria o preparatoria.
												li Un año académico de secundaria o preparatoria.
												li Toda la secundaria o preparatoria.
												li Terminar la secundaria o preparatoria.
								.faq-wrapper
									h5 ¿Debo saber inglés?
									.answer
										p Sí debes saber inglés y si no sabes suficiente inglés, podrías tomarlo en las escuelas de Alberta. 
								.faq-wrapper
									h5 ¿Qué son los distritos escolares de Alberta? 
									.answer
										p Se les llama “distritos escolares” a los diversos grupos de escuelas que comprenden desde Kindergarten hasta Preparatoria en la provincia de Alberta, todos fondeados por el Gobierno de Alberta.
								.faq-wrapper
									h5 ¿Cuáles son los pasos para estudiar en un distrito escolar de Alberta?
									.answer
										p
											ol
												li Comienza revisando exhaustivamente nuestro sitio&nbsp;
													a(href="http://studyinalberta.ca/primary-and-secondary", target='_blank') studyinalberta.ca/primary-and-secondary
												li Una vez que hayas encontrado los distritos escolares de tu interés, contáctalos por su sitio web y solicita admisión completando una solicitud de inscripción.
												li Contáctanos en caso de que te interese recibir apoyo para solicitar admisión.
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en Alberta? 
									.answer
										p Dependiendo la institución de tu interés, solicitas al mismo tiempo hospedaje con una familia anfitriona y el proceso de solicitar hospedaje se inicia regularmente junto con el proceso de solicitar admisión.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión?
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos seis meses antes. Dependiendo el programa de estudios, algunos reciben solicitudes de admisión desde al menos un año antes. Mientras con más tiempo de anticipación lo hagas, mayores serán las posibilidades de ser aceptado.
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir.
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación?
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc.
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa. 
								.faq-wrapper
									h5 ¿Existen becas para estudiar secundaria o preparatoria en Alberta?
									.answer
										p Por lo general no existen becas para estudiar secundaria o preparatoria. Dependiendo del programa de estudios, podría haber algún tipo de apoyo, visita el sitio web de la institución de Alberta donde te interesa estudiar. 
								.faq-wrapper
									h5 ¿Puedo trabajar mientras estoy estudiando en Alberta?
									.answer
										p No
								.faq-wrapper
									h5 ¿Puedo quedarme a trabajar si me gradúo de la preparatoria en Alberta?
									.answer
										p No puedes nomás quedarte a trabajar. El paso que sigue cuando te gradúes de la preparatoria en Alberta es que solicites admisión a un programa de estudios superiores. Siempre y cuando estés inscrito tiempo completo en un programa de estudios superiores, estás automáticamente autorizado a trabajar hasta 20 horas por semana durante tu periodo de clases y tiemplo completo en vacaciones. Dependiendo el programa que estudies, podrías tener la oportunidad de realizar prácticas profesionales. Cuando te gradúes de una institución de educación superior en Alberta, eres elegible para quedarte a trabajar en Alberta tiempo completo hasta por tres años, durante los cuales podrías solicitar la residencia permanente en Canadá. 
								.faq-wrapper
									h5 ¿Podría quedarme a terminar mi secundaria o preparatoria en Alberta?
									.answer
										p Sí puedes quedarte a terminar la secundaria o preparatoria en Alberta. 			