extends ./base.jade

block content
	section.section-hero.section-hero-faqs
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Preguntas frecuentes
					p.content-480-up Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
			.fullsize-image.semi-filled
				div(style="background-image: url(imgs/hero_faq.jpg)")
		.container.content-480-down
			p  Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
	section.section-faqs
		.container.tabs-wrapper
			.row
				article.tabs.row-flex
					aside
							nav
								ul
									li
										a(href="#tab-faq1") Sobre Alberta
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq2") Becas
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq3") Estudios superiores
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq4") Inglés + 18 años
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq5") Inglés - 18 años
											i.fa.fa-chevron-right.fa-lg
									li
										a(href="#tab-faq6") Secundaria y prepa
											i.fa.fa-chevron-right.fa-lg
							p Si necesitas más información&nbsp;
								a.text-bold.text-underline(href='contactanos.html') contáctanos
								| , con gusto atenderemos tus dudas.
					main
							#tab-faq1.tab-faq
								.faq-wrapper
									h5 ¿Quiénes somos?
									.answer
										p Tu vínculo directo principalmente con las instituciones de la provincia de Alberta, donde podrás conocer lo que te ofrecen, sus ventajas y diversos programas; guiándote a través de sesiones informativas, redes sociales, chats y ferias virtuales. 
								.faq-wrapper
									h5 ¿Cuáles son las 10 principales ventajas de la provincia de Alberta?
									.answer
										p
											ol.numeric
												li Abundancia de recursos: agua dulce, petróleo, gas natural y aire puro.   
												li No existe un impuesto provincial sobre lo que compras (No Provincial Sales Tax), obteniendo ahorros diarios en todos los gastos que incurras en la provincia de Alberta. 
												li Los parques nacionales más grandes de Canadá y las montañas rocosas, unos de los escenarios naturales más majestuosos e impresionantes que existen en el mundo, así como las auroras boreales. 
												li Días más soleados en el año y más largos durante el verano. 
												li Uno de los mejores sistemas de salud pública en el mundo. 
												li Ingresos competitivos a nivel mundial. 
												li Ciudades seguras y limpias, con una moderna infraestructura. 
												li Su calidad de vida se encuentra entre las mejores del mundo. 
												li Su sistema de educación está catalogado entre los mejores del mundo. 
												li Vuelos internacionales directos a Edmonton (capital) y Calgary (ciudad de negocios).  
								.faq-wrapper
									h5 ¿Qué puedo estudiar en la provincia de Alberta? 
									.answer
										p Existen una gran variedad de opciones que van desde idioma Inglés, cursos de verano, secundaria o preparatoria (semestre o año), estudios superiores (programas de un año, dos años, tres años o cuatro años) y posgrados (maestría y doctorado). 
								.faq-wrapper
									h5 ¿Cómo es el clima en la provincia de Alberta? 
									.answer
										p Con las cuatro estaciones, soleado y seco. Con la ventaja de que cuando baja la temperatura no te cala los huesos el frio porque no es húmedo. Alberta goza de los días más soleados en el año y más largos durante el verano. 
								.faq-wrapper
									h5 ¿Por qué existe en la provincia de Alberta una calidad de vida de clase mundial?
									.answer
										p La provincia de Alberta cuenta con una gran abundancia de recursos, agua dulce, la reserva petrolera más grande de Norteamérica y una de las 3 más grandes del mundo; así como también reservas de gas natural. En la provincia de Alberta se encuentran los parques nacionales más grandes de Canadá y las montañas rocosas, unos de los escenarios naturales más majestuosos que existen en el mundo. La provincia de Alberta tiene uno de los mejores sistemas de salud del mundo. Los habitantes de la provincia de Alberta gozan de los ingresos competitivos. 
								.faq-wrapper
									h5 ¿Cuántos habitantes viven en la provincia de Alberta?
									.answer 
										p Alrededor de 3.3 millones de habitantes, distribuidos un millón en las ciudades pequeñas en conjunto, alrededor de otro millón en la capital Edmonton y alrededor de otro millón en la ciudad de negocios Calgary. Todas las ciudades de la provincia son limpias y seguras. 
								.faq-wrapper
									h5 ¿Hay vuelos directos desde México a la provincia de Alberta?
									.answer
										p Con la aerolínea de Alberta (Westjet) existen vuelos directos desde los principales destinos turísticos de México a las principales ciudades de Alberta (Edmonton y Calgary).
								.faq-wrapper
									h5 ¿Necesito tener un seguro de gastos médicos mayores para viajar a Alberta?
									.answer
										p Sí se recomienda contratarlo desde México, una vez que estés en Alberta siendo estudiante de tiempo completo, puedes buscar sustituirlo por el que ofrece la provincia de Alberta a sus habitantes.
								.faq-wrapper
									h5 ¿Qué tipo de visa requiero para viajar a Alberta?
									.answer
										p La misma que para viajar a Canadá.
								.faq-wrapper
									h5 ¿Qué tipo de visa requiero para viajar a Alberta?
									.answer
										p La misma que para viajar a Canadá.
								p Si tienes más preguntas, contáctanos.
							#tab-faq2.tab-faq
								.faq-wrapper
									h5 ¿Existen becas para estudiar en la provincia de Alberta?
									.answer
										p Por lo general son pocas las becas de entrada que existen. Los apoyos o becas en su mayoría pueden ser solicitados después del primer año de estudios. Dependiendo del programa de estudios, podría haber algún tipo de apoyo, te recomendamos contactarnos y visitar el sitio web de la institución de Alberta donde te interesa estudiar. Existen algunas becas del CONACYT para posgrados. No se ofrecen becas para cursos de inglés. 
								.faq-wrapper
									h5 ¿El gobierno Mexicano ofrece becas o financiamiento?
									.answer
										p Dependiendo del programa de estudios, podría haber algún tipo de beca, visita el sitio web AMEXCID y para posible financiamiento visita el sitio web de FIDERH. 
								.faq-wrapper
									h5 ¿Cuáles son los pasos para solicitar una beca?
									.answer
										p Dependiendo la beca, generalmente primero tienes que ser aceptado al programa de estudios y después procedes a solicitar beca o apoyo. 
								.faq-wrapper
									h5 ¿Debo saber inglés para pedir una beca?
									.answer
										p Puesto que la mayoría de programas de estudio son instruidos en idioma inglés, es un requisito saber inglés y comprobarlo cumpliendo los requisitos de admisión incluyendo cierto puntaje en el examen oficial de inglés como IELTS Académico o TOEFLIBT. 
								.faq-wrapper
									h5 ¿Si estoy estudiando en México mis estudios superiores, existen becas de intercambio o para prácticas profesionales?
									.answer
										p Sí existen, para intercambio el programa de becas se llama ELAP y para prácticas profesionales el programa se llama Mitacs Globalink. Ambos programas aplican restricciones visita el sitio web del Gobierno de Canadá scholarships.gc.ca 
											a(href="http://studyinalberta.ca", target='_blank') scholarships.gc.ca
								.faq-wrapper
									h5 ¿Dónde encuentro más información sobre becas?
									.answer
										p Con respecto a becas, cada institución podría ofrecer algún tipo de apoyos, por lo que te recomiendo investigarlo en el sitio web de cada institución. Además existen algunos organismos gubernamentales y no gubernamentales, que ofrecen becas como es la Agencia Mexicana de Cooperación Internacional para el Desarrollo (AMEXCID), el Consejo Nacional de Ciencia y Tecnología (CONACYT) entre otros; por lo que te exhorto a investigar exhaustivamente tomando en cuenta los siguientes 12 puntos:
										p
											ol.numeric
												li Ten muy en cuenta que las becas y apoyos tienen fechas límites para solicitarse. 
												li No te hagas ilusiones falsas, ninguna beca es garantizada ni mucho menos completa. 
												li Por experiencia no hay becas para estudiar inglés en Canadá y si las encuentras ten cautela. 
												li Por experiencia antes de solicitar apoyos o becas, primero deben de aceptarte en la institución. 
												li Para aceptarte en la institución requieras un nivel de inglés apropiado, de lo contrario no hay beca. 
												li Habiendo recibido una oferta de estudio, solicita el apoyo o beca lo más pronto posible.
												li Prosigue completando solicitudes, no te detengas por dudas que puedas llegar a tener.  
												li Regularmente las becas se otorgan por competencia y tienen diferentes criterios. 
												li Asesórate con la persona correcta para prepararte con tus cartas y exámenes.  
												li Muchas veces no te van aclarar todas las dudas que tienes, sigue adelante. 
												li Sigue al pie de la letra las indicaciones, con paciencia y sentido común.
												li No te bases en el papel, investiga continuamente en los sitios web. 
										p.text-bold De nuevo, por favor para que te quede claro: para solicitar cualquier tipo de apoyo primero debes de solicitar admisión a la institución y haber recibido una carta de oferta de estudios o carta de aceptación. 
										p No te desamines si en un principio no obtuviste becas u apoyos. A falta de becas, como un estudiante internacional inscrito tiempo completo en un programa de estudios superiores en Canadá, puedes trabajar hasta 20 horas por semana durante tu periodo de clases y tiempo completo en vacaciones. Ten en cuenta que tú eres responsable de buscar y encontrar un trabajo. 
										p Si tienes más preguntas contáctanos. 
							#tab-faq3.tab-faq
								.faq-wrapper
									h5 ¿Cuáles son los pasos para realizar estudios superiores en las instituciones de la provincia de Alberta?
									.answer
										p
											ol
												li Comienza contactándonos
												li Completa una solicitud de inscripción. 
												li Mantente en contacto con nosotros durante todo tu proceso y contáctanos cualquier duda. 
								.faq-wrapper
									h5 ¿Qué tipo de estudios superiores puedo cursar en la provincia de Alberta? 
									.answer
										p
											ul
												li Certificate (consta de 1 año de estudios superiores aplicado para emplearse en ocupaciones específicas).
												li Diploma (consta de 2 años de estudios superiores aplicado para emplearse en áreas particulares).
												li Applied Degree (consta de 3 años de estudios superiores aplicado con práctica laboral en la industria).
												li Bachelor’s Degree (consta de 4 años con de estudios superiores enfoque académico dirigido al aprendizaje teórico).
												li Master´s Degree (consta de 2 años de estudios superiores de posgrado después de 4 años de estudios superiores previos).
												li Doctoral Degree (consta de 2-3 años de estudios superiores de posgrado después de la maestría).
								.faq-wrapper
									h5 ¿Qué es Campus Alberta? 
									.answer
										p Se le llama “Campus Alberta” las instituciones que conforman en el sistema de educación superior en la provincia de Alberta.


								.faq-wrapper
									h5 ¿Debo saber inglés para cursar estudios superiores en la provincia de Alberta?
									.answer
										p Puesto que la mayoría de programas de estudio son instruidos en idioma inglés, es un requisito saber inglés y comprobarlo por medio de un examen oficial de inglés. Si no cumples con ese requisito, podrías tomar el inglés en nuestras mismas instituciones de Alberta. 
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje? 
									.answer
										p Dependiendo la institución, existen residencias estudiantiles, estancia con familia y otras opciones de hospedaje independiente. El proceso de solicitar hospedaje hace al mismo tiempo que se solicita admisión.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos de seis meses a un año antes. Mientras con más tiempo de anticipación lo hagas, mayores serán las posibilidades de ser aceptado. 
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación, que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir. 
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación? 
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar con el trámite de tu permiso de estudios. Una vez que hayas obtenido tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión y demás. 
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa canadiense. 
								.faq-wrapper
									h5 ¿Puedo trabajar mientras estoy cursando mis estudios superiores en las instituciones de la provincia de Alberta?
									.answer
										p Como un estudiante internacional inscrito tiempo completo en un programa de estudios superiores, puedes trabajar hasta 20 horas por semana durante tu periodo de clases y hasta 40 horas por semana durante tu periodo de vacaciones. También podrías tener la oportunidad de realizar prácticas profesionales. 
								.faq-wrapper
									h5 ¿Puedo quedarme a trabajar cuando me gradúe de mi programa de estudios superiores?
									.answer
										p Cuando te gradúes de una institución de educación superior en Alberta, puedes quedarte a trabajar en Canadá tiempo completo hasta por tres años, durante los cuales podrías solicitar la residencia permanente. 
								.faq-wrapper
									h5 ¿Existen becas para cursar estudios superiores en la provincia de Alberta?
									.answer
										p Por lo general existen muy pocas becas de entrada. La mayoría de apoyos pueden solicitarse después de haber cursado un año de estudios. Dependiendo del programa de estudios, podría haber algún tipo de apoyo de entrada, visita el sitio web de la institución donde te interesa estudiar. 
								.faq-wrapper
									h5 ¿Puedo estudiar medicina o especializarme en áreas de la salud?
									.answer
										p Los requisitos de entrada para los programas en el área salud, como medicina, son muy altos por la gran demanda que existe. Algunos ejemplos de programas para estudiantes internacionales: Health Care Aid, Nursing, Paramedic u otros. Te recomendamos iinvestigar tus opciones de los programas que estén abiertos para estudiantes internacionales. 
								.faq-wrapper
									h5 ¿Cuáles son las principales diferencias entre Diploma y Maestría? 
									.answer
										p Para solicitar admisión a un Diploma requieres tener la preparatoria terminada y no requieres hacer un examen de admisión. Para solicitar admisión a una Maestría requieres estar titulado (4 años completados de estudios superiores) y generalmente realizar un examen de admisión. 
								.faq-wrapper
									h5 Una vez graduándome en una institución de la provincia de Alberta ¿podría acreditar mis estudios o aspirar a un mejor puesto en una empresa de mi país?
									.answer
										p Los estudios que realices en las instituciones de la provincia de Alberta pueden ser acreditados en las instituciones de educación superior de cualquier parte del mundo e inclusive las empresas pueden emplearte reconociendo tus estudios realizados en la provincia de Alberta. Digamos que egresaste de un Diploma en una institución de la provincia de Alberta, puedes acreditarlo en México como parte de un programa de educación superior. 
								.faq-wrapper
									h5 Si estoy estudiando mi carrera en México, ¿puedo irme de intercambio a las instituciones de la provincia de Alberta?
									.answer
										p Puedes irte como estudiante de intercambio siempre y cuando exista un convenio firmado entre tu institución de educación superior en México y la institución de educación superior en la provincia de Alberta. Te recomendamos contactar la oficina encargada de los intercambios dentro de tu institución. Si no existe convenio, puedes irte como estudiante independiente y revalidar tus estudios a tu regreso. 
								.faq-wrapper
									h5 ¿Si estoy estudiando mi carrera en México, puedo irme a realizar mis prácticas profesionales en la provincia de Alberta?
									.answer
										p Por lo general las prácticas profesionales se pueden realizar estando inscrito en un programa de estudios superiores en una institución de la provincia de Alberta. Fuera de esto podrías irte a realizar una práctica profesional siempre y cuando existe un convenio firmado entre tu institución y la institución en la provincia de Alberta. 
								.faq-wrapper
									h5 Si ya tengo estudios superiores en mi país ¿podría ejercer como profesionista en la provincia de Alberta?
									.answer
										p Sí podrías, más el proceso suele ser complicado y llevar tiempo. Por lo que te recomendamos que mejor realices estudios superiores y te gradúes en la provincia de Alberta. Solicita admisión y entérate cómo se te pueden acreditar parte de los estudios superiores que ya tengas cursados en tu país. 
								.faq-wrapper
									h5 ¿Qué otros consejos podrían proporcionarme para estudiar en el extranjero?
									.answer
										p 
											span.text-bold Planea 
											| tus estudios al menos 
											span.text-bold seis meses 
											| antes de viajar y 
											span.text-bold ahorra. 
											| Vas a tener que comprobar al Gobierno de Canadá que tienes en tu cuenta de banco suficientes fondos para solventar tus estudios/sostenimiento y así el Gobierno de Canadá pueda expedirte un permiso de estudios. 
										p 
											span.text-bold Investiga y evalúa 
											| la institución y ciudad donde vas estudiar. 
										p 
											span.text-bold Decide 
											| lo que quieres estudiar pronto y toma en cuenta las fechas límites. 
										p 
											span.text-bold Prepara 
											| tu presupuesto considerando los costos de vida y colegiatura.
										p 
											span.text-bold Contáctanos y sigue 
											| las indicaciones cuidadosamente con 
											span.text-bold paciencia 
											| y dedicación.
										p 
											span.text-bold Solicita 
											| admisión al programa de tu interés mencionando a Ignacio Meza de International Education Consulting Portal, los lugares son limitados. 
										p 
											span.text-bold Sigue 
											| las indicaciones cuidadosamente una vez que hayas recibido respuesta de la institución, ten 
											span.text-bold paciencia 
											| y concreta tu plan. 
										p Si tienes más preguntas contáctanos. 
							#tab-faq4.tab-faq
								.faq-wrapper 
									h5 ¿Cuáles son los pasos para estudiar inglés en las instituciones de la provincia de Alberta?
									.answer 
										p 
											ol
												li Comienza revisando exhaustivamente nuestro sitio y contactándonos. 
												li Una vez que hayas encontrado los programas de tu interés, indícanos para proporcionarte los contactos directos y solicita admisión completando una solicitud de inscripción. 
												li Mantente en contacto con nosotros durante todo tu proceso y contáctanos cualquier duda. 
								.faq-wrapper 
									h5 ¿Cuál es la principal ventaja de estudiar inglés en las instituciones de la provincia de Alberta? 
									.answer 
										p El programa de inglés lo tomas dentro las instituciones de la provincia de Alberta. Esto quiere decir que una vez que domines el inglés, puedes solicitar admisión, para continuar con estudios superiores en las instituciones de la provincia de  Alberta
								.faq-wrapper 
									h5 ¿Qué es Campus Alberta? 
									.answer 
										p Se le llama “Campus Alberta” a las instituciones que conforman en el sistema de educación superior en la provincia de Alberta. 
								.faq-wrapper 
									h5 ¿Qué tipo de estudios de inglés puedo cursar en las instituciones de la provincia de Alberta? 
									.answer 
										p Existen diferentes tipos de estudios de inglés, programas de inglés en áreas específicas con diversas duraciones.  
								.faq-wrapper 
									h5 ¿Debo saber inglés antes de irme a estudiar a las instituciones de la provincia de Alberta?
									.answer 
										p No necesariamente, aunque sería una gran ventaja al menos entenderlo antes planear tus estudios de inglés en las instituciones de la provincia de Alberta.  
								.faq-wrapper 
									h5 ¿Debo hacer un examen de inglés en mi país antes de irme? 
									.answer 
										p Generalmente no porque llegando a la institución se te aplica un examen inglés. 
								.faq-wrapper 
									h5 ¿Cuáles son mis opciones de hospedaje? 
									.answer 
										p Dependiendo la institución, existen residencias estudiantiles, estancia con familia y otras opciones de hospedaje independiente. El proceso de solicitar hospedaje hace al mismo tiempo que se solicita admisión. 
								.faq-wrapper 
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer 
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos tres meses antes. Dependiendo el programa de estudios, algunos reciben solicitudes de admisión desde al seis meses antes.  
								.faq-wrapper 
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer 
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene información clave sobre el programa en el que te aceptaron, la fecha de inicio y los  próximos pasos a seguir. 
								.faq-wrapper 
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación? 
									.answer 
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de  avión, etc. 
								.faq-wrapper 
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer 
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa.  
								.faq-wrapper 
									h5 ¿Puedo trabajar mientras estoy cursando mis estudios de inglés?
									.answer 
										p No está permitido trabajar cuando estás estudiando inglés, ni tampoco quedarte a trabajar cuando termines tu curso de inglés. La única manera en que se permite trabajar es cuando estás estudiando un programa de estudios superiores de tiempo  completo. 
								.faq-wrapper 
									h5 ¿Existen becas para estudiar inglés en Alberta?
									.answer 
										p No se ofrecen becas para cursos de inglés.  

							#tab-faq5.tab-faq 
								.faq-wrapper
									h5 ¿Cuáles son los pasos para estudiar inglés en una escuela de la provincia de Alberta?
									.answer
										p 
											ul
												li Comienza contactándonos.
												li Completa una solicitud de inscripción. 
												li Mantente en contacto con nosotros durante todo tu proceso y contáctanos cualquier duda. 
								.faq-wrapper
									h5 ¿Cuál es la principal ventaja de estudiar inglés en la provincia de Alberta? 
									.answer
										p El programa de inglés puedes tomarlo en las escuelas de la provincia de Alberta. Esto quiere decir que una vez que domines el inglés, puedes continuar con más estudios como secundaria o preparatoria, dentro de las mismas escuelas. Los costos de las escuelas de la provincia de Alberta son muy competitivos y la calidad de los programas de estudio es una de las mejores del mundo. 
								.faq-wrapper
									h5 ¿Qué son los distritos escolares de la provincia de Alberta? 
									.answer
										p Se les llama “distritos escolares” a los diversos grupos de escuelas que comprenden desde Kindergarten hasta Preparatoria en la provincia de Alberta.
								.faq-wrapper
									h5 ¿Debo saber inglés antes de irme a estudiar a las escuelas de la provincia de Alberta?
									.answer
										p No necesariamente, aunque sería una gran ventaja al menos entenderlo antes planear tus estudios en la provincia de Alberta. 
								.faq-wrapper
									h5 ¿Debo hacer un examen de inglés en mi país antes de irme a estudiar inglés a las escuelas de la provincia Alberta? 
									.answer
										p Generalmente no porque llegando a la escuela se te aplica un examen inglés.
								.faq-wrapper
									h5 ¿Qué tipo de estudios de inglés puedo cursar en las escuelas de la provincia de Alberta? 
									.answer
										p La mayoría de estudios de inglés en las escuelas de la provincia de Alberta están enfocados en lo académico, para que logres el nivel de inglés requerido para continuar con tus estudios de secundaria, preparatoria o ingresar a los programas de estudios superiores. Las escuelas en la provincia de Alberta ofrecen programas de inglés.
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en las escuelas de la provincia de Alberta? 
									.answer
										p Dependiendo la escuela, vas a solicitar al mismo tiempo hospedaje con una familia anfitriona.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos de 3 a 6 meses antes. 
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene toda la información sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir. 
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación? 
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc. 
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa. 
								.faq-wrapper
									h5 ¿Siendo menor de edad, puedo trabajar mientras estudio?
									.answer
										p No está permitido trabajar siendo menor de edad. 
								.faq-wrapper
									h5 ¿Podría quedarme a terminar mi secundaria o preparatoria en las escuelas de la provincia de Alberta?
									.answer
										p Sí puedes quedarte a terminar la secundaria o preparatoria en las escuelas de la provincia de Alberta. 
								.faq-wrapper
									h5 ¿Existen becas para estudiar en las escuelas de la provincia de Alberta?
									.answer
										p No se ofrecen becas de entrada.  	

							#tab-faq6.tab-faq

								.faq-wrapper
									h5 ¿Cuáles son los pasos para estudiar en una escuela de la provincia de Alberta?
									.answer
										p 
											ol
												li Comienza contactándonos.
												li Completa una solicitud de inscripción. 
												li Mantente en contacto con nosotros durante todo tu proceso y contáctanos cualquier duda. 
								.faq-wrapper
									h5 ¿Qué tipo de estudios de secundaria o preparatoria puedo cursar en las escuelas de la provincia de Alberta? 
									.answer
										p
											ul
												li Un verano.
												li Un semestre Académico de secundaria o preparatoria.
												li Un año académico de secundaria o preparatoria.
												li Terminar la secundaria o preparatoria.
												li Toda la secundaria o preparatoria.
								.faq-wrapper
									h5 ¿Cuáles son las ventajas de estudiar en las escuelas de la provincia de Alberta? 
									.answer
										p Las ciudades son modernas, limpias y seguras. Los costos son muy competitivos y la calidad de los programas de estudio se encuentra entre las más altas del mundo. 
								.faq-wrapper
									h5 ¿Qué son los distritos escolares de la provincia de Alberta? 
									.answer
										p Se les llama “distritos escolares” a los diversos grupos de escuelas que comprenden desde Kindergarten hasta Preparatoria en la provincia de Alberta.
								.faq-wrapper
									h5 ¿Debo saber inglés antes de irme a estudiar a las escuelas de la provincia de Alberta?
									.answer
										p No necesariamente, aunque sería una gran ventaja al menos entenderlo antes planear tus estudios en la provincia de Alberta. 
								.faq-wrapper
									h5 ¿Debo hacer un examen de inglés en mi país antes de irme a estudiar inglés a las escuelas de la provincia Alberta? 
									.answer
										p Generalmente no porque llegando a la escuela se te aplica un examen inglés.
								.faq-wrapper
									h5 ¿Cuáles son mis opciones de hospedaje en las escuelas de la provincia de Alberta? 
									.answer
										p Dependiendo la escuela, vas a solicitar al mismo tiempo hospedaje con una familia anfitriona.
								.faq-wrapper
									h5 ¿Cuándo es el mejor momento para solicitar admisión? 
									.answer
										p Puesto que los lugares son limitados, hay que solicitar admisión con el mayor tiempo de anticipación, al menos de 3 a 6 meses antes. 
								.faq-wrapper
									h5 ¿Qué sucede después de que haya completado una solicitud de admisión?
									.answer
										p Generalmente recibes respuesta por parte de la institución donde solicitaste admisión enviándote tu carta de aceptación (Letter of Acceptance) que contiene toda la información sobre el programa en el que te aceptaron, la fecha de inicio y los próximos pasos a seguir. 
								.faq-wrapper
									h5 ¿Qué debo hacer una vez que haya recibido una carta de aceptación? 
									.answer
										p Seguir las indicaciones señaladas en la carta de aceptación. Iniciar el trámite de tu permiso de estudios. Una vez que ya tengas tu permiso de estudios puedes seguir con todos los demás pasos como asegurar tu hospedaje, comprar tu boleto de avión, etc. 
								.faq-wrapper
									h5 ¿Cuándo debo de sacar mi visa para Canadá?
									.answer
										p Cuando hayas recibido tu carta de aceptación puedes iniciar el trámite de tu permiso de estudios para Canadá, que incluye la visa. 
								.faq-wrapper
									h5 ¿Siendo menor de edad, puedo trabajar mientras estudio?
									.answer
										p No está permitido trabajar siendo menor de edad. 
								.faq-wrapper
									h5 ¿Podría quedarme a terminar mi secundaria o preparatoria en las escuelas de la provincia de Alberta?
									.answer
										p Sí puedes quedarte a terminar la secundaria o preparatoria en las escuelas de la provincia de Alberta. 
								.faq-wrapper
									h5 ¿Existen becas para estudiar en las escuelas de la provincia de Alberta?
									.answer
										p No se ofrecen becas de entrada. 			