extends ./base.jade

extends ./base.jade

block content
	section.section-hero
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Preguntas frecuentes
					p.content-480-up Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
			.fullsize-image.semi-filled
				div(style="background-image: url(../imgs/hero_faq.jpg)")
		.container.content-480-down
			p  Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
	section.section-faqs
		.container
			.row-flex
				article.col-4
					a(href='javascript:void(0)')
						.block-faq
							figure
								img(src='imgs/faq/faq1.png', alt='Sobre Alberta')
							.faq-hover
						span Sobre Alberta
				article.col-4
					a(href='javascript:void(0)')
						.block-faq
							figure
								img(src='imgs/faq/faq2.png', alt='Becas')
							.faq-hover
						span Becas
				article.col-4
					a(href='javascript:void(0)')
						.block-faq
							figure
								img(src='imgs/faq/faq3.png', alt='Estudios superiores')
							.faq-hover
						span Estudios superiores
				article.col-4
					a(href='javascript:void(0)')
						.block-faq
							figure
								img(src='imgs/faq/faq4.png', alt='Inglés + 18 años')
							.faq-hover
						span Inglés + 18 años
				article.col-4
					a(href='javascript:void(0)')
						.block-faq
							figure
								img(src='imgs/faq/faq5.png', alt='Inglés + 18 años')
							.faq-hover
						span Inglés + 18 años
				article.col-4
					a
						.block-faq
							figure
								img(src='imgs/faq/faq6.png', alt='Secundaria y prepa')
							.faq-hover
						span Secundaria y prepa		