extends ./base.jade

extends ./base.jade

block content
	section.section-hero
		.semi-filled
			.fullsize-filter
			header
				.container
					h1 Preguntas frecuentes
					p.content-480-up Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
			.fullsize-image.semi-filled
				div(style="background-image: url(../imgs/hero_faq.jpg)")
		.container.content-480-down
			p  Encuentra respuestas a las dudas generales que los aspirantes a estudiar en Alberta tienen usualmente
	section.section-faqs
		.container.tabs-wrapper
			.row
				article.tabs
					aside
						nav
							ul
								li
									a(href="#tab-faq1") Sobre Alberta
										i.fa.fa-chevron-right.fa-lg
								li
									a(href="#tab-faq2") Becas
										i.fa.fa-chevron-right.fa-lg
								li
									a(href="#tab-faq3") Estudios superiores
										i.fa.fa-chevron-right.fa-lg
								li
									a(href="#tab-faq4") Inglés + 18 años
										i.fa.fa-chevron-right.fa-lg
								li
									a(href="#tab-faq5") Inglés + 18 años
										i.fa.fa-chevron-right.fa-lg
								li
									a(href="#tab-faq6") Secundaria y prepa
										i.fa.fa-chevron-right.fa-lg
						p Si necisitas más información&nbsp;
							a(href='javascript:void(0)') contáctanos
							| , con gusto atenderemos tus dudas.
					main
						#tab-faq1.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
						#tab-faq2.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
						#tab-faq3.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
						#tab-faq4.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
						#tab-faq5.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
						#tab-faq6.tab-faq
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta
							.faq-wrapper
								h4 Pregunta
									i.fa.fa-chevron-down.fa-lg
								.answer Respuesta