.container
	header
		h2 Instituciones de educación superior en Alberta
	.row.row-mobile
		.contact-form
			p Encuentra la universidad perfecta para tus estudios en Alberta
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control.uppercase
						option(value='certificate') Certificate
						option(value='diploma') Diploma
						option(value='applied') Applied Degree
						option(value='bachelor') Bachelor's Degree
						option(value='master') Master's Degree
						option(value='doctoral') Doctoral Degree
			p#mobile-offering-type
			p#mobile-offering-summary
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control
						option(value='') Elige la ciudad que te interesa
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control
						option(value='') Elige la especialidad
			p
				| Universidades en&nbsp;
				span#mobile-offering-city
				| &nbsp;cuentan con la especialidad:
			p#mobile-offering-specialty
								
	nav#nav-offering
		ul
			li
				a(href="javascript:void(0)") Certificate
			li
				a(href="javascript:void(0)") Diploma
			li
				a(href="javascript:void(0)") Applied Degree
			li
				a(href="javascript:void(0)") Bachelor's Degree
			li
				a(href="javascript:void(0)") Master's Degree
			li
				a(href="javascript:void(0)") Doctoral Degree
.map-wrapper.border-top-bottom-grey
	.map
	.container
		.column-map
		.column-results
			.contact-form
				h2#offering-type
				p#offering-summary
				.form-group
					.select-wrapper
						i.fa.fa-chevron-down.fa-lg
						select.form-control
							option(value='') Elige la especialidad
				p
					| Universidades en&nbsp;
					span#offering-city
					| &nbsp;cuentan con la especialidad:
				p#offering-specialty			
			.results-schools
				.school-wrapper
					a.school(href='')
						img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
						p.p-mobile
							span Concordia Univerity
							br
							span International
					a.school(href='')
						img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
						p.p-mobile
							span Concordia Univerity
							br
							span International
					a.school(href='')
						img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
						p.p-mobile
							span Concordia Univerity
							br
							span International
					a.school(href='')
						img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
						p.p-mobile
							span Concordia Univerity
							br
							span International
											