.container
	header
		h2 Instituciones de educación superior en Alberta
	.row.row-mobile
		.contact-form
			p Encuentra la universidad perfecta para tus estudios en Alberta
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select#mobile-select-offering.form-control
						option(value='') Elige un programa de estudio
						option(value='certificate') Certificate
						option(value='diploma') Diploma
						option(value='applied') Applied Degree
						option(value='baccalaureate') Bachelor's Degree
						option(value='master') Master's Degree
						option(value='doctoral') Doctoral Degree
			p#mobile-offering-type
			p#mobile-offering-summary
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select#mobile-select-city.form-control
						option(value='') Elige la ciudad que te interesa
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select#mobile-select-specialty.form-control
						option(value='') Elige la especialidad
			p.mobile-text-hide
				| Universidades en&nbsp;
				span#mobile-offering-city
				| &nbsp;que cuentan con la especialidad:
			p#mobile-offering-specialty.mobile-text-hide
								
	nav#nav-offering
		ul
			li
				a(href="javascript:void(0)", data-offering= 'certificate') Certificate
			li
				a(href="javascript:void(0)", data-offering= 'diploma') Diploma
			li
				a(href="javascript:void(0)", data-offering= 'applied') Applied Degree
			li
				a(href="javascript:void(0)", data-offering= 'baccalaureate') Bachelor's Degree
			li
				a(href="javascript:void(0)", data-offering= 'master') Master's Degree
			li
				a(href="javascript:void(0)", data-offering= 'doctoral') Doctoral Degree
.map-wrapper.border-top-bottom-grey
	.map
	.container
		.column-map
			a(data-city='fort_mcmurray', href="javascript:void(0)")
				.icon-city
				span Fort McMurray
			a(data-city='grouard', href="javascript:void(0)")
				.icon-city
				span Grouard
			a(data-city='grande_prairie', href="javascript:void(0)")
				.icon-city
				span Grande Prairie
			a(data-city='athabasca', href="javascript:void(0)")
				.icon-city
				span Athabasca
			a(data-city='lac_la_biche', href="javascript:void(0)")
				.icon-city
				span Lac La Biche
			a(data-city='edmonton', href="javascript:void(0)")
				.icon-city
				span Edmonton
			a(data-city='vermillion', href="javascript:void(0)")
				.icon-city
				span Vermillion
			a(data-city='lloydminster', href="javascript:void(0)")
				.icon-city
				span Lloydminster
			a(data-city='lacombe', href="javascript:void(0)")
				.icon-city
				span LaCombe
			a(data-city='red_deer', href="javascript:void(0)")
				.icon-city
				span Red Deer
			a(data-city='olds', href="javascript:void(0)")
				.icon-city
				span Olds
			a(data-city='banff', href="javascript:void(0)")
				.icon-city
				span Banff
			a(data-city='calgary', href="javascript:void(0)")
				.icon-city
				span Calgary
			a(data-city='medicine_hat', href="javascript:void(0)")
				.icon-city
				span Medicine Hat
			a(data-city='lethbridge', href="javascript:void(0)")
				.icon-city
				span Lethbridge
		.column-results
			.contact-form
				h2#offering-type
				p#offering-summary
				.form-group
					.select-wrapper
						i.fa.fa-chevron-down.fa-lg
						select#select-specialty.form-control
							option(value='') Elige la especialidad
				p.text-hide
					| Universidades en&nbsp;
					span#offering-city
					| &nbsp; que cuentan con la especialidad:
				p#offering-specialty.text-hide		
			.results-schools
				.school-wrapper
											