.container
	header
		h2 Instituciones de educación superior en Alberta
	.row.row-mobile
		p Encuentra la universidad perfecta para tus estudios en Alberta
		.contact-form
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control.uppercase
						option(value='certificate') Certificate
						option(value='diploma') Diploma
						option(value='applied') Applied Degree
						option(value='bachelor') Bachelor's Degree
						option(value='master') Master's Degree
						option(value='doctoral') Doctoral Degree
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control
						option(value='') Elige la ciudad que te interesa
			.form-group
				.select-wrapper
					i.fa.fa-chevron-down.fa-lg
					select.form-control
						option(value='') Elige la especialidad
	nav
		ul
			li
				a(href="#tab-1") Cerfificate
			li
				a(href="#tab-2") Diploma
			li
				a(href="#tab-3") Applied Degree
			li
				a(href="#tab-4") Bachelor's Degree
			li
				a(href="#tab-5") Master's Degree
			li
				a(href="#tab-6") Doctoral Degree
.map-wrapper.border-top-bottom-grey
	.results-schools
		.school-wrapper
			a.school(href='')
				img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
				p.p-mobile
					span Concordia Univerity
					span International
			a.school(href='')
				img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
				p.p-mobile
					span Concordia Univerity
					span International
			a.school(href='')
				img(src='http://ximg.es/100x60/cc3b16/fff.jpg', alt= '')
				p.p-mobile
					span Concordia Univerity
					span International											