.row
	form.contact-form(action="send-message.php", method="post")
		input#session-name.form-control(type='hidden', name='session', value='')
		input#session-date.form-control(type='hidden', name='date', value='--')
		input#session-time.form-control(type='hidden', name='time', value='--')
		.form-group.required
			input#nombre.form-control(type='text', name='nombre')
			label.label(for="nombre") Nombre
			span.error *campo obligatorio
		.form-group.required
			input#email.form-control(type='email', name='email')
			label.label(for="email") email
			span.error *campo obligatorio
		.form-group
			input#ciudad.form-control(type='text', name='ciudad')
			label.label(for="ciudad") Ciudad
		.form-group		
			textarea#comentario.form-control(rows=4, name='comentario')
			label.label(for='comentario') ¿Qué te interesa estudiar en Alberta?
		.form-group
			.g-recaptcha(data-sitekey='6LebuyIUAAAAAFJnhAes6x9Y_bE_EQs-UXw1Dumj')
		.form-group-submit
			.checkbox			
				label
					input#privacidad(type='checkbox', name='privacidad', value='true')
					span Quiero recibir noticias y eventos para estudiar en Alberta.&nbsp;
						a.text-underline(title='Aviso de privacidad', href='aviso-de-privacidad.html', target='_blank') Aviso de privacidad
			input.button.button-blue(type='submit', value='Enviar', name='submit')