footer#footer
	.container
		.row-flex
			figure.footer-logo.col-4
				img(alt='Alberta', src='./imgs/icons/logo_alberta_negativo.png', width=140)
			nav.footer-menu.col-3
				h4 
					a(href='/') Inicio
				ul
					li 
						a(href='#why-alberta') ¿Por qué Alberta?
					li 
						a(href='#briefings') Sesiones informtativas
					li 
						a(href='') Preguntas frecuentes
					li 
						a(href='') Contáctanos
				.footer-social-links
					a(title='Facebook', href='http://facebook.com/', target='_blank')
						span.icon-fb
					a(title='Youtube', href='http://youtube.com/', target='_blank')
						span.icon-yt
			address.col-5
				h4 Centro de Educación de Alberta
				p 
					span.text-bold.text-16 Ignacio Meza
					br
					span Oficial de Educación para México
				p 
					span.icon-phone
					a.text-bold(href='tel:3331230232') (33) 3123 0232
					br
					span.icon-mail
					a.text-bold(href='mailto:ignacio.meza@gov.ab.ca') ignacio.meza@gov.ab.ca
				p
					span Hotel Presidente Intercontinental Guadalajara
					br
					span Av. Moctezuma 3515 Ciudad del Sol, Zapopan Jal.
				.footer-social-links
					a(title='Facebook', href='http://facebook.com/', target='_blank')
						span.icon-fb
					a(title='Youtube', href='http://youtube.com/', target='_blank')
						span.icon-yt