header#header
	.container
		.row-flex
			.logo
				a(href='/')
					img(alt='Alberta' src='http://ximg.es/150x32/0383a0/fff.jpg')
			nav.header-menu
				a(href='#why-alberta') ¿Por qué Alberta?
				a(href='#briefings') Sesiones informativas
				a(href='') Preguntas frecuentes
				a(href='') Contáctanos
				.social-links
					a 
						span Icon
					a 
						span Icon