header#header
	.container
		.row-flex
			.menu-bar
				a.logo(href='index.html')
					img.negative-logo(alt='Alberta' src='./imgs/icons/icono_iecp_negativo.png')
					img.positive-logo(alt='Alberta' src='./imgs/icons/icono_iecp_positivo.png')
				a.btn-menu(href='javascript:void(0)')
					span.icon-menu
			nav.header-menu
				a(href='index.html#why-alberta') ¿Por qué Alberta?
				a(href='macewan.html') Sesiones informativas
				a(href='preguntas-frecuentes.html') Preguntas frecuentes
				a(href='contactanos.html') Contáctanos
				.social-links
					a(title='Youtube', href='http://www.youtube.com/estudiaenalberta', target='_blank')
						span.icon-yt
