header#header
	.container
		.row-flex
			.menu-bar
				a.logo(href='/')
					img.negative-logo(alt='Alberta' src='./imgs/icons/logo_alberta_negativo.png')
					img.positive-logo(alt='Alberta' src='./imgs/icons/logo_alberta_positivo.png')
				a.btn-menu(href='javascript:void(0)')
					span.icon-menu
			nav.header-menu
				a(href='#why-alberta') ¿Por qué Alberta?
				a(href='#briefings') Sesiones informativas
				a(href='') Preguntas frecuentes
				a(href='') Contáctanos
				.social-links
					a 
						span Icon
					a 
						span Icon