.row
	form.contact-form(action="send-preregister.php", method="post")
		input#session-name.form-control(type='hidden', name='session', value='')
		input#session-date.form-control(type='hidden', name='date', value='--')
		input#session-time.form-control(type='hidden', name='time', value='--')
		.form-group.required
			input#nombre.form-control(type='text', name='nombre')
			label.label(for="nombre") Nombre completo
			span.error *campo obligatorio
		.form-group.required
			input#email.form-control(type='email', name='email')
			label.label(for="email") Correo electronico
			span.error *campo obligatorio
		.form-group-submit
			input.button.button-blue(type='submit', value='Enviar', name='submit')
