.section-hero-faqs
	+bp(xsmall)
		border-bottom: 0

.section-faqs
	+bp(xsmall)
		padding: em-calc(20) 0

	.row-flex
		+bp(max, em-calc(960))
			-webkit-flex-wrap: wrap
			-moz-flex-wrap: wrap
			-ms-flex-wrap: wrap
			flex-wrap: wrap
	.fa
		color: $super-ligh-gray
		float: right
		margin: 0 em-calc(15)		

	article.col-4
		width: em-calc(300)
		margin-bottom: em-calc(20)
		border: em-calc(1.5) solid $super-ligh-gray
		border-radius: em-calc(5)

		figure
			margin: 0
			position: relative

		.block-faq	
			position: relative

			img
				display: block
				width: 100%

		.faq-hover
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%

		span
			text-align: left
			display: block
			font-family: "ProximaNovaRegular"
			text-transform: uppercase
			padding: em-calc(20) em-calc(0) em-calc(15) em-calc(30)
			color: $strong-gray

		a
			position: relative

		&:hover
			box-shadow: 0 em-calc(1.5) em-calc(1.5) 0 rgba($super-ligh-gray, .9)

			.faq-hover
				background-color: rgba($ligh-blue, .6)
				+transition(all 0.35s ease 0s)

			span, i.fa
				color: $ligh-blue

	.tabs-wrapper
		aside
			text-align: left

			p
				margin-bottom: em-calc(20)
			
		nav
			text-transform: uppercase
			border: em-calc(1.5) solid $super-ligh-gray
			border-radius: em-calc(5)
			margin-bottom: em-calc(20)

			ul
				> li					
					> a
						padding: em-calc(18) 0 em-calc(15) em-calc(20)
						display: block
						color: $strong-gray

					&.ui-state-active, &.ui-state-hover
						background-color: $ligh-gray
						
						&, a
							color: $ligh-blue

						.fa
							color: $ligh-blue

					&:not(:last-of-type)
						border-bottom: em-calc(1) solid $super-ligh-gray

	.tab-faq

		.faq-wrapper
			border-bottom: $super-ligh-gray solid em-calc(1)
			text-align: left
			padding: em-calc(20) 0

			h5
				cursor: pointer
			
			&:first-of-type
				border-top: $super-ligh-gray solid em-calc(1)

			ol, ul
				li:not(:last-of-type)
					margin-bottom:  em-calc(10)
			ol
				list-style-type: lower-alpha

				li
					margin-left:  em-calc(20)		

	article.row-flex
		padding: 0 em-calc(10)
		@extend %flex-direction-column

		+bp(small)
			aside
				order: 2
			nav 	
				margin-top: em-calc(40)

		+bp(min, em-calc(960))
			flex-direction: row
			padding: 0

			aside, main
				margin: 0 em-calc(10)

			aside
				width: 31.25%
			main
				width: 64.58333%	

	.ui-accordion-header-active
		margin-bottom: em-calc(15)
	
		&, .fa
			color: $ligh-blue			
			
				