article.working-studying
	@extend %text-align-left
	color: #fff

	h2
		color: #fff
		margin: 0

	p
		margin: em-calc(15) 0

article.studies
	@extend %text-align-left

	h2
		text-transform: none
		margin: 0
	p
		margin: em-calc(15) 0			