.general-wrapper
	min-width: em-calc(320)	

.container
	@include container($container_960_layout)

.row
	@include full

.row-flex
	@include full
	@extend %display-flex
	@extend %flex-direction-row
	@extend %flex-wrap-wrap
	@extend %justify-content-center

.border-top-bottom-grey
	border-top: em-calc(1) solid $super-ligh-gray
	border-bottom: em-calc(1) solid $super-ligh-gray	

.border-bottom-grey
	border-bottom: em-calc(1) solid $super-ligh-gray

.full-width-blue
	background-color: $ligh-blue

.content-480-up
	+show(small-up)

.content-480-down
	+show(xsmall)	

.section-hero
	padding: 0
	
	.filled
		position: relative
		width: 100%	

	p		
		padding: 0 em-calc(10)	
	
	header
		width: 100%
		position: absolute
		color: #fff
		z-index: 51
		top: 50%
		transform: translateY(-50%)

		h1
			margin-bottom: em-calc(5)
		p	
			font-size: em-calc(20)

	.content-480-down
		p
			text-align: left
			margin-top: em-calc(20)	

	.fullsize-image > div
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
		height: 100%
		width: 100%

	+bp(xsmall)
		border-bottom: em-calc(2) solid $super-ligh-gray
		padding-bottom: em-calc(20)
			

.fullsize-filter
	position: absolute 
	width: 100% 
	height: 100% 
	background-color: rgba(#000, .6) 
	background-size: cover
	opacity: .6
	z-index: 50	